{% extends 'layout.html.twig' %}
{% block content %}

    {% include 'navigation.html.twig' %}

    {% include 'ad_adminNav.html.twig' %}
        <!-- Page Content Holder -->
        <div id="content">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{{ home }}">Home</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href=""></a></li>
            </ul>
            <h2>Creating New items:</h2>
            <div class="line"></div>
            <p>Instructions etc...</p>
            {#<a href="#edit<?php echo $id;?>" data-toggle="modal"><button type='button' class='btn btn-warning btn-sm'><span class='glyphicon glyphicon-edit' aria-hidden='true'></span></button></a>
            <a href="#delete<?php echo $id;?>" data-toggle="modal"><button type='button' class='btn btn-danger btn-sm'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button></a>#}
        </div>
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}