{% extends 'layout.html.twig' %}
{% block content %}




    <!--  NAVIGATION -->
    {#<nav>#}
        {#<ul class="menu">#}
            {#<li><a href="{{ landing_page }}" class="active">Home</a></li>#}
        {#</ul>#}
    {#</nav>#}

    {% include 'blanknav.html.twig' %}
    {% include 'messages.html.twig' %}
    {% include 'loginForm.html.twig' %}

   {# {% include 'passwordresetform.html.twig' %}#}

   {# {%  include 'registerForm.html.twig' %}#}






{% endblock %}