{% extends 'layout.html.twig' %}
{% block content %}
    <meta Http-Equiv="Cache-Control" Content="no-cache">
    <meta Http-Equiv="Pragma" Content="no-cache">
    <meta Http-Equiv="Expires" Content="0">
    {#<script type="text/javascript">#}
        {#function noBack(){window.history.forward()#}
        {#noBack()#}
        {#window.onload=noBack;#}
        {#window.onpageshow=function(evt){if(evt.persisted)noBack()#}
        {#window.onunload=function(){void(0)#}
    {#</script>#}
    <h1>You were logged out</h1>

<body onunload="">
</body>
<script type="text/javascript">
         setTimeout(function() {
            window.location.reload(1);
             window.onunload();
        },5);
</script>

    <!--  FOOTER   -->
    <footer class="footer">
        <h5><a href="{{ landing_page }}" class="heading">Virtual Learning Environment</a></h5>
        <h6><a href="{{ landing_page }}" class="heading">IMAT  Final Year Project</a></h6>

        <p id="footer"><a href="https://github.com/alexm1751/VirtualLearningEnvironment">Created by Alex Mason | All rights reserved</a></p>

    </footer>
{% endblock %}