{% extends 'layout.html.twig' %}
{% block content %}

    <h1>You were logged out</h1>

<body onunload="">
</body>
<script type="text/javascript">
         setTimeout(function() {
            window.location.reload(1);
             window.onunload();
        },5);
</script>
    {% include 'footer.html.twig' %}
{% endblock %}