{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'blanknav.html.twig' %}
    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Please Confirm Logout</div>
                <div class="panel-body">
                    <!--    Logout  -->
                    <form action="{{ action }}" method="{{ method }}" style="text-align: center;">

                        <button type="submit" id="logout" class="btn btn-default">LogOut</button>
                        {{ csrf.field | raw }}
                    </form>
                </div>

            </div>


        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}