{% if flash('global') %}
    <div class="alert alert-danger">
        {{ flash('global')| first }}
    </div>
{% endif %}



{#
 .alert-success,
 .alert-info,
  .alert-warning or
  .alert-danger:
  #}