{% extends 'layout.html.twig' %}
{% block login %}
    <main class="main">
    <!--    INTRO -->

    <!--    LOGIN  -->
    <div class="forms">
    <section class="reset">
        <form action="{{ action2 }}" method="{{ method2 }}">
            <fieldset>
                <button type="submit" id="reset">Reset Password</button>
            </fieldset>
            {{ csrf.field | raw }}
        </form>

    </section>
{% endblock %}