{% extends 'layout.html.twig' %}
{% block content %}
    <main class="main">
    <!--    INTRO -->
    <h3>Please Enter and Confirm your New Password</h3>

    <!--    LOGIN  -->
    <div class="forms">
    <section class="login">
        <form action="{{ action }}" method="{{ method }}" autocomplete="off">
            <div>
                <h4>New Password</h4>
                <label for="password">Password</label>
                <input type="password" placeholder="" name="password" id="password">
            </div>

            <div>
                <label for="password">Confirm Password</label>
                <input type="password" placeholder="" name="password_confirm" id="password_confirm">
                {{ errors | json_encode }}
            </div>
            <div>
                <button type="submit" id="Reset">Reset</button>
                {{ csrf.field | raw }}
            </div>

        </form>
    </section>
{% endblock %}