{% block content %}

    <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Attendance Editor</h3>

        </div>

        <ul class="list-unstyled components active">
            <li>
                <a href="">
                    <i class="glyphicon glyphicon-list-alt"></i>Class Attendance:</a>
            </li>
        </ul>

    </nav>

{% endblock %}