
{% block content %}
    <div class="container">
        {% include 'navigation.html.twig' %}

        {% include 'te_teacherNav.html.twig' %}

        <!-- Page Content Holder -->
        <div id="content">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{{ home }}">Home</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href="{{ atendance_form }}">Attendance</a></li>
            </ul>

            <h2>Classes:</h2>

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                </ul>
            </div>

        </div>
    </div>

    {% include 'footer.html.twig' %}
    </div>
{% endblock %}